* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav {
    padding: 10 0;
    width: 100%;
    background-color: rgba(25, 0, 255, 0.602);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(20px,5vw,30px);
    color: white;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
     height: auto;
    width: 90%;
    max-width: 500px;
    gap: 24px;
    margin: 0 auto;
}
.label{
    font-size: clamp(18px,5vw,38px);  
    font-family: 'Times New Roman', Times, serif; 
}

.input{
    padding: 10px 10px;
    height: 40px;
    width: 100%;
    border-radius: 10px;
}
.input:focus{
    border-color: red;
    outline: none;
    box-shadow: 0 0 10px rgba(25, 0, 255, 0.602);
}

.btn{
    font-size: 20px;
    border-radius: 20px;
    height: 45px;
    width: 100%;
    text-align: center;
    background: rgb(138, 24, 214);
    color: white;
}
.btn:hover{
    background:rgb(149, 73, 193);
    color: black;
    border: 2px solid black;
}

.showResult{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

        
        
@media only screen and (max-width: 455px){

    .container {
        width: 95%;
        gap: 16px;
    }

    .label {
        font-size: 20px;
        text-align: center;
    }

    .input {
        height: 35px;
    }

    .btn {
        height: 40px;
        font-size: 16px;
    }

    .showResult {
        font-size: 20px;
        text-align: center;
    }
}